<div data-role="header">
  <h1>Home</h1>
  <%= link_to 'Add', new_post_path, "data-icon" => "plus", "class" => "ui-btn-right" %>
</div>

<div data-role="content">
  <ul data-role="listview">
   
  </ul>
</div>
