<div data-role="header">
  <h1>Home</h1>
  <%= link_to 'Add', new_post_path, "data-icon" => "plus", "class" => "ui-btn-right" %>
</div>

<div data-role="content">
  <ul data-role="listview">
    <li>
      <%= link_to 'Sign up', signup_path, "data-icon" => "gear" %>
    </li>
    <li>
      <%= link_to 'Sign in', signin_path, "data-icon" => "gear" %>
    </li>
  </ul>
</div>
